# Dependencias
node_modules/

# Build
dist/
.output/

# Archivos generados
.astro/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Caché
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Editores
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de test de Netlify
.netlify/

# Carpeta local de Vercel
.vercel/

# Archivos de respaldo que algunos editores crean
*~
*.bak
*.swp

# Media generada y archivos grandes
# (considera usar Git LFS para estos en lugar de ignorarlos si son cruciales)
# public/images/uploads/*