<div class="bg-white flex flex-col items-center px-16 py-28 max-md:px-5" data-aos="fade-up">
    <div class="flex w-full max-w-[1280px] items-center gap-20 max-md:max-w-full max-md:flex-wrap">
      <div class="flex flex-col items-stretch my-auto basis-0 max-md:max-w-full" data-aos="fade-right" data-aos-delay="100">
        <div class="text-black text-5xl font-medium leading-[58px] tracking-wide max-md:max-w-full max-md:text-4xl max-md:leading-[53px]">
          Beneficios de elegir nuestros servicios de construcción de alta
          calidad
        </div>
        <div class="text-black text-xl leading-8 tracking-wide mt-6 max-md:max-w-full">
          Contratar nuestros servicios garantiza la máxima calidad y eficiencia
          en cada proyecto. Con años de experiencia en el sector, transformamos
          tus ideas en realidades duraderas.
        </div>
      </div>
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8db54a52-f461-46e7-9742-3293e12b633c?" class="aspect-[0.94] object-contain object-center w-[600px] overflow-hidden shrink-0 max-w-full rounded-[40px]" alt="High-quality construction services" data-aos="fade-left" data-aos-delay="200" />
    </div>
  </div>
