---
// ContactFAQ.astro - FAQ con shadcn/ui accordion integrado
import SectionLayout from '../../ui/SectionLayout.astro';
import SectionHeader from '../../ui/SectionHeader.astro';
import ContactFAQWrapper from '../../interactive/ContactFAQWrapper.astro';
---
<SectionLayout background="gray" data-aos="fade-up">
  <div class="content-stretch flex flex-col lg:flex-row gap-12 lg:gap-20 items-start justify-start relative w-full">
    <!-- Left Side: Title and Description -->
    <div class="content-stretch flex flex-col gap-6 lg:gap-8 items-start justify-start relative w-full lg:w-[500px]" data-aos="fade-right" data-aos-delay="200">
      <SectionHeader 
        title="Preguntas Frecuentes"
        description="Aquí encontrarás respuestas a las preguntas más comunes sobre nuestros servicios y procesos."
        align="left"
      />
    </div>
      
    <!-- Right Side: FAQ Accordion with shadcn/ui -->
    <div class="basis-0 content-stretch flex flex-col grow items-start justify-start min-h-px min-w-px relative" data-aos="fade-left" data-aos-delay="300">
      <ContactFAQWrapper />
    </div>
  </div>
</SectionLayout>