---
import Layout from '../layouts/Layout.astro';
import Header from '../components/ui/Header.astro';
import Hero from '../components/sections/Hero.astro';
import AboutSummary from '../components/sections/AboutSummary.astro';
import Portfolio from '../components/sections/Portfolio.astro';
import MissionVision from '../components/sections/MissionVision.astro';
import Services from '../components/sections/Services.astro';
import HowItWorks from '../components/sections/HowItWorks.astro';
import Contact from '../components/sections/Contact.astro';
import Footer from '../components/sections/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<AboutSummary />
		<Portfolio />
		<MissionVision />
		<Services />
		<HowItWorks />
		<Contact />
	</main>
	<Footer />
</Layout>
