---
import Layout from "../layouts/Layout.astro";
import Header from "../components/ui/Header.astro";
import ProjectsSliderHero from "../components/sections/proyectos/ProjectsSliderHero.astro";
---

<Layout title="Proyectos - Constructora Carpio">
  <Header />
  <main>
    <!-- Hero Slider Section with scroll interaction -->
    <ProjectsSliderHero />
  </main>
</Layout>
