---
import Layout from "../layouts/Layout.astro";
import Header from "../components/ui/Header.astro";
import ProjectsSliderHero from "../components/sections/proyectos/ProjectsSliderHero.astro";
import FeaturedProject from "../components/sections/proyectos/FeaturedProject.astro";
import Footer from "@/components/sections/Footer.astro";
---

<Layout title="Proyectos - Constructora Carpio">
  <Header />
  <main>
    <!-- Hero Slider Section with scroll interaction -->
    <ProjectsSliderHero />
    
    <!-- Featured Project Section -->
    <FeaturedProject />
  </main>
  <Footer />
</Layout>
