---
import Layout from "../layouts/Layout.astro";
import Header from "../components/ui/Header.astro";
import Footer from "@/components/sections/Footer.astro";
import { getCollection } from "astro:content";
import PageHero from "../components/ui/PageHero.astro";
import GridServices from "../components/sections/services/GridServices.astro";

// Obtener todos los servicios desde Content Collections
const servicios = await getCollection("servicios");

// Mapear imágenes según el slug
const imageMap: Record<string, string> = {
  construccion: "/images/services/construccion/construccion-hero.webp",
  remodelacion: "/images/services/remodelacion/remodelacion-hero.webp",
  "diseno-arquitectonico":
    "/images/services/disenio_arquitectonico/diseno-hero.webp",
};

// Definir categorías fijas
const uniqueCategories = ["Todos", "Construcción", "Remodelación", "Diseño"];
---

<Layout title="Todos los Servicios - Constructora Carpio">
  <Header />
  <main>
    <!-- Hero Section -->
    <PageHero
      title="Servicios que "
      highlightedTitle="Construyen Futuro"
      description="Explora nuestra amplia gama de servicios profesionales diseñados para transformar tus ideas en realidad con calidad y excelencia."
      badgeText="Nuestros Servicios"
    />

    <!-- Services Section -->
    <GridServices
      services={servicios}
      categories={uniqueCategories}
      imageMap={imageMap}
    />
  </main>
  <Footer />
</Layout>
