---
import Layout from "../layouts/Layout.astro";
import Header from "../components/ui/Header.astro";
import Footer from "@/components/sections/Footer.astro";
import { getCollection } from "astro:content";
import PageHero from "../components/ui/PageHero.astro";
import GridProjects from "../components/sections/proyectos/GridProjects.astro";

// Obtener todos los proyectos desde Content Collections
const proyectos = await getCollection("proyectos");

// Definir categorías fijas
const uniqueCategories = [
  "Todos",
  "Conjunto Habitacional",
  "Diseño Residencial",
  "Diseño Retail",
];
---

<Layout title="Todos los Proyectos - Constructora Carpio">
  <Header />
  <main>
    <!-- Hero Section -->
    <!-- Hero Section -->
    <PageHero
      title="Proyectos que "
      highlightedTitle="Transforman Espacios"
      description="Descubre nuestra colección de proyectos exitosos donde la innovación, calidad y diseño se unen para crear espacios extraordinarios."
      badgeText="Nuestro Portafolio"
    />

    <!-- Projects Section -->
    <GridProjects projects={proyectos} categories={uniqueCategories} />
  </main>
  <Footer />
</Layout>
