<section class="bg-beige py-16 lg:py-28 px-5 lg:px-16" data-aos="fade-up">
  <div class="container mx-auto max-w-[1280px]">
    <div class="flex flex-col lg:flex-row justify-between items-start gap-8 lg:gap-20">
      <div class="flex-1 max-w-[335px] lg:max-w-none text-center lg:text-left" data-aos="fade-right" data-aos-delay="100">
        <h2 class="text-3xl lg:text-[60px] font-medium leading-[1.2] tracking-[0.6px] text-neutral-darkest font-urbanist">
          ¡Contáctanos para más información!
        </h2>
      </div>
      <div class="flex-1 max-w-[335px] lg:max-w-none text-center lg:text-left" data-aos="fade-left" data-aos-delay="200">
        <p class="text-sm lg:text-xl leading-[1.6] mb-6 lg:mb-8 text-neutral-darkest font-heebo">
          Estamos aquí para ayudarte a hacer realidad tus proyectos. No dudes en
          ponerte en contacto con nosotros para obtener más detalles sobre
          nuestros servicios.
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:gap-4" data-aos="fade-up" data-aos-delay="300">
          <button class="bg-forest-green text-neutral-darkest font-medium py-2.5 px-6 rounded-full border-2 border-forest-green shadow-[0px_2px_2px_0px_rgba(12,8,1,0.15)] text-sm lg:text-lg font-heebo relative overflow-hidden">
            <div class="absolute inset-0 pointer-events-none shadow-[0px_4px_0px_0px_inset_rgba(255,255,255,0.2),0px_-5px_0px_0px_inset_rgba(12,8,1,0.15)]"></div>
            Solicitar
          </button>
          <button class="bg-neutral-lightest text-neutral-darkest font-medium py-2.5 px-6 rounded-full border-2 border-neutral-darkest shadow-[0px_2px_2px_0px_rgba(12,8,1,0.15)] text-sm lg:text-lg font-heebo relative overflow-hidden">
            <div class="absolute inset-0 pointer-events-none shadow-[0px_4px_0px_0px_inset_rgba(255,255,255,0.2),0px_-5px_0px_0px_inset_rgba(12,8,1,0.15)]"></div>
            Más información
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
